/* ganjing blue #2196F4 */

.sidebar {
    min-width: 250px;
    height: 100vh;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.add-category {
    background-color: #2196F4;
    margin-bottom: 15px;
    padding: 15px;
}

.sidebar li {
    background-color: #2196F4;
    margin-bottom: 15px;
    padding: 15px;
}
